LOG_LEVEL=DEBUG
DB_MIGRATIONS_URL = driver+psycopg://user:pass@localhost:5432/db_name
DB_URL = driver+asyncpg://user:pass@localhost:5432/db_name
DB_NAME=db_name
DB_PASSWORD=db_password
DB_USER=db_user
CONSUMER_BATCH_SIZE=10
CONSUMER_SLEEP_SECONDS=1
CONSUMER_SHUTDOWN_SECONDS=30
BOT_TOKEN="your_bot_token"  # You can get it at BotFather at Telegram

SECRET_KEY="your_secret_key"
ADMIN_TG_CHAT_ID=783811767

REGULAR_TASKS_SLEEP_TIME=300